.grid 
{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }to {
        opacity: 1;
       transform: scale(1);
    }
}
@keyframes fadeIn2 {
    from {
        transform: translateX(-100%);
    }to {
        transform: translateX(0%);
    }
}
@keyframes fadeup {
    from {
        transform: translateY(10%);
        opacity: 0;
    }to {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fadeIn3 {
    from {
        opacity: 0;
     
    }to {
        opacity: 1;
    }
}